/**
 * Skill Meter and Charts Frontend
 * 
 * @package startup
 */

/* Shortcode : Skill Meter Chart
-------------------------------------------------------------------- */
.at-skill-chart {
  text-align: center;
}
/* Charts
-------------------------------------------------------------------- */
.at-chart {
  position: relative;
  text-align: center;
  margin: 0 auto;
}
.at-chart canvas {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
}
.at-chart i,
.at-chart .chart-custom-text,
.at-chart .chart-percent {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  text-align: center;
  width: 100%;
  color: #444;
}
.at-chart .chart-custom-text {
  font-size: 18px;
}
.at-chart .chart-percent {
  font-size: 16px;
  font-weight: bold;
}
.at-chart-desc {
  font-size: 12px;
  text-align: center;
  display: block;
}
@media handheld, only screen and (max-width: 600px) {
  .at-chart {
    margin: 0 auto;
  }
}